<section class="inner-hero-section content__item">
	<!-- inner- banner img -->
	<div class="inner-banner-img item-overflow">
		{{ image }}<img src="{{ url }}" alt="what we do image" class="content-item-zoom object-cover">{{ /image }}
		<div class="d-none content-item-y">d none</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- start inner hero content -->
				<div class="inner-hero-content">
					<h1 class="title">404</h1>
					
					<!-- breadcrumb -->
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">404</li>
						</ol>
					</nav>
				</div>
				<!-- end inner hero content -->
			</div>
		</div>
	</div>
</section>
<!-- end inner hero banner section -->

<!-- start not found page -->
<section class="not-found-page inner-wrapper">

	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- not found content -->
				<div class="not-found-content">
					<img src="{{ theme:asset }}assets/images/404-error-img.png" alt="404 error img" class="object-cover">
					<!-- not found info -->
					<div class="not-found-info">
						<h2 class="title">Sorry! Page Not Found!</h2>
						<p>Oops! The page you are looking for does not exist. Please return to the site’s homepage.</p>
						<a href="/" class="btn btn-secondary btn-style-2">Back to home page</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>