
    <!-- start inner hero banner section -->
{{ if show_hero_section == true }}
  {{ partial:inner-hero-section }}
{{ /if }}
    <!-- end inner hero banner section -->

    <!-- start Our Team Members section -->
    <section class="blog-grid-section blog-grid-page inner-wrapper">
      <div class="container">
        {{ page_builder scope="block" }}
        {{if type == "intro_section"}}
        {{ partial src="page_builder/{type}" }}
        {{ /if }}
        {{ /page_builder }}

        <div class="row" id="blog-grid-wrapper">
          {{ collection:blog as="blogs" paginate="true" limit="6" }}
          {{ blogs }}
          <!-- blog grid -->
          <div class="col-12 col-md-4">
            <div class="blog-grid">
              <div class="blog-grid-wrap">
                <div class="blog-img">
                  <a href="blog/{{slug}}">{{ image }}<img src="{{ url }}" alt="blog img1" class="object-cover">{{ /image }}</a>
                </div>
                <div class="blog-info">
                  <h5><a href="blog/{{slug}}">{{ title }}</a></h5>
                  <p>{{ short_description }}</p>
                </div>
              </div>
              <div class="read-more-btn">
                <a href="blog/{{slug}}" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
          {{ /blogs }}

          <div class="col-12">
            <div class="pagination-part">
              {{ paginate }}
              <nav aria-label="Page navigation">
               <ul class="pagination justify-content-center">
                {{ if prev_page }}
                <li class="page-item"> <a class="page-link" href="{{ prev_page }}">Previous</a></li>
                {{ /if }}

                {{ links:segments }}

                {{ first }}
                {{ if page == current_page }}
                <li class="page-item active"><a class="page-link">{{ page }}</a></li>
                {{ else }}
                <li class="page-item"><a class="page-link" href="{{ url }}">{{ page }}</a></li>
                {{ /if }}
                {{ /first }}

                {{ if slider }}
                <li class="page-item disabled"><span>...</span></li>
                {{ /if }}

                {{ slider }}
                {{ if page == current_page }}
                <li class="page-item active"><a class="page-link">{{ page }}</a></li>
                {{ else }}
                <li class="page-item"><a class="page-link" href="{{ url }}">{{ page }}</a></li>
                {{ /if }}
                {{ /slider }}

                {{ if slider || (!slider && last) }}
                <li class="page-item disabled"><span>...</span></li>
                {{ /if }}

                {{ last }}
                {{ if page == current_page }}
                <li class="page-item active"><a class="page-link">{{ page }}</a></li>
                {{ else }}
                <li class="page-item"><a class="page-link" href="{{ url }}">{{ page }}</a></li>
                {{ /if }}
                {{ /last }}

                {{ /links:segments }}

                {{ if next_page }}
                <li class="page-item"><a class="page-link" href="{{ next_page }}">Next</a></li>
                {{ /if }}
              </ul>
            </nav>
            {{ /paginate }}
          </div>

        </div>
        {{ /collection:blog }}

      </div>
        <!-- Pagination -->

  
      </div>
    </section>
    <!-- End Our Team Members section -->
