
<!-- start inner hero banner section -->
{{ if show_hero_section == true }}
{{ partial:inner-hero-section }}
{{ /if }}
<!-- end inner hero banner section -->


    <!-- start Portfolio Grid section -->
    <section class="our-recent-projects-section projects-style-2 inner-wrapper">
      <div class="container">
       {{ page_builder scope="block" }}
       {{if type == "intro_section"}}
       {{ partial src="page_builder/{type}" }}
       {{ /if }}
       {{ /page_builder }}

        <div class="row">
          <div class="col-12">
            <!--  Our Recent Projects gallery -->
            <div class="recent-projects-gallery">
              <!-- button tabs list -->

              <ul class="button-tabs-list button-group" id="filters">
                <li class="button-tab-link current is-checked" data-filter="*">All</li>

                {{ taxonomy:portfolio_category }}
                <li class="button-tab-link" data-filter=".{{ slug }}">{{ title }}</li>
                {{ /taxonomy:portfolio_category }}
              </ul>

              <!-- All gallery -->
              <div class="gallery-list">
                  {{ collection:portfolio as="portfolio"  paginate="true" limit="12" }}
                <div class="row grid">
                  {{ portfolio }}
                  <div class="grid-item col-6 col-sm-6 col-md-4 col-lg-3 grid-item  portfolio-item {{ category:slug }}">
                    <div class="projects-gallery-box">
                      <div class="projects-gallery-img">{{ image }}<img src="{{ url }}" alt="projects gallery img 1" class="object-cover">{{ /image }}</div>
                      <div class="projects-gallery-hover">
                        <a href="/portfolio/{{ slug }}">
                          <span class="icon"><img src="{{ theme:asset }}assets/images/arrow-btn.svg" alt="arrow btn" class="object-cover"></span>
                          {{ link_text }}
                        </a>
                      </div>
                    </div>
                  </div>
             
                  {{ /portfolio }}
                                
                </div>
                
                  {{ paginate }}
                  <!-- our services grid loader -->
                  <input type="hidden" class="lastPage" value="{{ total_pages }}">
                  <input type="hidden" class="currentPage" value="{{ current_page }}">
                  {{ if total_pages !=  current_page}}
                  <div class="col-12 load-more-wrap">
                    <div class="read-more-bottom">
                      <a href="{{ next_page }}" class="btn btn-secondary btn-style-3 ajax-load-more-grid">Load more <img src="{{theme:asset}}assets/images/loader.svg" alt="loader" class="object-cover d-none"></a>
                    </div>
                  </div>
                  {{ /if }}
                  {{ /paginate }}  
                  {{ /collection:portfolio }}
                  
              </div>

            </div>


          </div>
        </div>
      </div>
    </section>
    <!-- end Portfolio Grid section -->
