 <script src="{{ theme:asset src='assets/js/jquery.min.js' }}"></script>
    <!-- Swiper bundle js file -->
    <script src="{{ theme:asset src='assets/js/swiper-bundle.min.js' }}"></script>
    <!-- Isotope js file -->
    <script src="{{ theme:asset src='assets/js/isotope.pkgd.js' }}"></script>  
    <!-- Aos animation js file -->
    <script src="{{ theme:asset src='assets/js/aos.js' }}"></script>
    <!-- Magnific popup min js file -->
    <script src="{{ theme:asset src='assets/js/jquery.magnific-popup.min.js' }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Magnific popup min js file -->
    <script src="{{ theme:asset src='assets/js/imagesloaded.min.js' }}"></script>
    <!-- Magnific popup min js file -->
    <script src="{{ theme:asset src='assets/js/common.js' }}"></script>
    <!-- Custom Libraries script js end -->

    <!-- custom script js -->
    <script src="{{ theme:asset src='assets/js/custom.js' }}"></script>
      
    <script type="text/javascript">
      
      const searchUrl = "{{ route:blog.search }}";
      const newsLetterUrl = "{{ route:newsLetter }}";
      const blogPageRedirect = "/blog";
      
    </script>