<!-- start Career Opportunity section -->
        <section class="career-opportunity-section inner-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6">
                <!-- start section heading -->
                <div class="section-heading inner-heading">
                  <h5 class="sub-title" data-aos="fade-up" data-aos-duration="500">{{ section_subtitle }}</h5>
                  <h2 class="title" data-aos="fade-up" data-aos-duration="1000">{{ section_title }}</h2>
                  <p>{{ description }}</p>
                </div>
                <!-- end section heading -->
              </div>
              <div class="col-12 col-md-6">
                <!-- Career Opportunity box -->
                <div class="career-opportunity-box">
                  {{ quote_icon }}<img src="{{ url }}" alt="quotes icon" class="object-cover">{{ /quote_icon }}
                  <p>{{ quote_text }}</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Career Opportunity section -->