
{{ if  segment_1 == 'contact-us'  }}
<!-- start Contact page -->
        <section class="contact-page inner-wrapper">

          <div class="container">
            <div class="row mb-4 mb-md-0">
                {{ contact_info }}
              <div class="col-12 col-md-4">
                <!-- contact detail box -->
                <div class="contact-detail-box">
                  <div class="icon" data-aos="fade-up" data-aos-duration="500">{{ icon }}<img src="{{ url }}" alt="contact phone icon" class="object-cover">{{ /icon }}</div>
                  <h6 data-aos="fade-up" data-aos-duration="1000">{{title}}</h6>
                  <p data-aos="fade-up" data-aos-duration="1500">
                   {{ lines }}
                   {{ if title == 'Phone number' }}
                   <a href="tel:{{ line | replace:' ' }}">{{ line }}</a><br>
                   {{ /if }}
                   {{ if title == 'Email address' }}
                   <a href="mailto:{{ line | trim }}">{{ line }}</a><br>
                   {{ /if }}
                   {{ if title == 'Office Location' }}
                   {{ line }}
                   {{ /if }}
                   {{ /lines }}
                  </p>
                </div>
              </div>
              {{ /contact_info }}
              
            </div>
          </div>

          <!-- Contact form section -->
          <div class="contact-form-section contact-dark bg-tertiary">
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-6">
                  <!-- Contact form info -->
                  <div class="contact-form-info">
                    <!-- start section heading -->
                    <div class="section-heading">
                      <h5 class="sub-title" data-aos="fade-up" data-aos-duration="500">{{ section_subtitle }}</h5>
                      <h2 class="title" data-aos="fade-up" data-aos-duration="1000">{{ section_title }}</h2>
                    </div>
                    <!-- end section heading -->
                    <p data-aos="fade-up" data-aos-duration="1500">{{ description }}</p>

                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <!-- Contact form -->
                  <div class="contact-form">
                    {{ partial:contact-form }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Contact Map section -->
          <div class="contact-map-section" data-aos="fade-up" data-aos-duration="1000">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- Contact Map -->
                  <div class="contact-pam">
                    <iframe src="{{ google_map_iframe }}" style="border:0; width: 100%; height: 490px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Contact page -->
        {{ else }}

        <!-- start Contact page -->
        <section class="contact-page contact-page-2 inner-wrapper content__item">

          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-7">
                <!-- Contact form info -->
                <div class="contact-form-info">
                  <!-- start section heading -->
                  <div class="section-heading">
                    <h5 class="sub-title" data-aos="fade-up" data-aos-duration="500">{{ section_subtitle }}</h5>
                    <h2 class="title" data-aos="fade-up" data-aos-duration="1000">{{section_title}}</h2>
                  </div>
                </div>
                <!-- contact image gallery -->
                <div class="about-image-gallery-style-2 contact-gallery">
                  <!-- about image -->
                  <div class="about-image image-1 item-overflow">
                    {{ image_1 }}<img src="{{ url }}" alt="about image 1" class="content-item-zoom object-cover">{{ /image_1 }}
                  </div>
                  <!-- about image -->
                  <div class="about-image image-2 content-item-y">
                   {{ image_2 }} <img src="{{ url }}" alt="about image 2" class="object-cover">{{ /image_2 }}
                  </div>


                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-5">
                <!-- Contact form -->
                <div class="contact-form contact-form-style-2">
                  <p>{{ description }} </p>
                  {{ partial:contact-form }}
                </div>
              </div>
            </div>
            <div class="row contact-box-wrap">

              {{ contact_info }}
              <div class="col-12 col-md-4">
                <!-- contact detail box -->
                <div class="contact-detail-box contact-box-style-2">
                  <div class="icon">{{ icon }}<img src="{{ url }}" alt="contact phone icon" class="object-cover">{{ /icon }}</div>
                  <div class="contact-deatil-wrap">
                    <h6>{{title}}</h6>
                    <p>
                      {{ lines }}
                      {{ if title == 'Phone number' }}
                      <a href="tel:{{ line | replace:' ' }}">{{ line }}</a><br>
                      {{ /if }}
                      {{ if title == 'Email address' }}
                      <a href="mailto:{{ line | trim }}">{{ line }}</a><br>
                      {{ /if }}
                      {{ if title == 'Office Location' }}
                      {{ line }}
                      {{ /if }}
                      {{ /lines }}
                    </p>
                  </div>
                </div>
              </div>
              {{ /contact_info }}
            </div>
          </div>

          <!-- Contact Map section -->
          <div class="contact-map-section">
            <div class="contact-pam contact-pam-full">
                <iframe src="{{ google_map_iframe }}" style="border:0;width: 100%; height: 490px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
          </div>
        </section>
        <!-- End Contact page -->

        {{ /if }}