  <!-- start Image with text section -->
    <section class="inner-cms-section inner-wrapper">
      <div class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-12 col-md-6">
            <!-- start section heading -->
            <div class="section-heading inner-heading">
              <h5 class="sub-title" data-aos="fade-up" data-aos-duration="500">{{ section_subtitle }}</h5>
              <h2 class="title" data-aos="fade-up" data-aos-duration="1000">{{ section_title }}</h2>
            </div>
            <!-- end section heading -->
          </div>
          <div class="col-12 col-md-6">
            <div class="section-heading-des">
              <p>Accumsan in nisl nisi scelerisque eu. Massa id neque aliquam vestibulum morbi blandit cursus. Molestie ac feugiat sed lectus vestibulum mattis </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- FAQ List -->
            <div class="faq-list">
              <!-- accordion  -->
              <div class="accordion">
                {{ faqs }}
                <!-- accordion list  -->
                <div class="accordion-list">
                  <!-- accordion tabs  -->
                  <div class="accordion-tabs {{ if first }}active{{ /if }}">
                    <h3>{{ question }}</h3>
                  </div>
                  <!-- accordion content  -->
                  <div class="accordion-content {{ if first }}active{{ /if }}">
                    <p>{{ answer }}</p>
                  </div>
                </div>
                {{ /faqs }}

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- end Image with text section -->