 <!-- start Get free quote!! -->
    <section class="get-free-quote-style-2 bg-tertiary">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5">
            <h6>{{ section_subtitle }}</h6>
            <h2>{{ section_title }}</h2>
          </div>
          <div class="col-12 col-md-7">
            <!-- Get free quote form -->
            <form class="flex-column get-free-quote-form bg-transparent p-0 border-0">
              <div class="get-free-quote-form quote-form-3 m-0">
                <div class="quote_div quate-email">
                  <input type="email" class="form-control" name="Email" id="email" placeholder="Email address" required="">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>

              <p class="form-message m-0" style="color: rgb(223, 82, 67);"></p></form>
            </form>

          </div>
        </div>
      </div>
    </section>
    <!-- end Get free quote!! -->
