  <!-- start Recruitment Process section -->
        <section class="recruitment-process-section inner-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12">
                 <!-- start section heading -->
                  <div class="section-heading">
                    <h5 class="sub-title" data-aos="fade-up" data-aos-duration="500">{{ section_subtitle }}</h5>
                    <h2 class="title" data-aos="fade-up" data-aos-duration="1000">{{ section_title }}</h2>
                  </div>
                  <!-- end section heading -->
              </div>
            </div>
            <div class="row">
              {{ recruitment }}
              <div class="col-12 col-md-6 col-lg-3" data-aos="fade-right" data-aos-duration="500">
                <!-- recruitment-process box -->
                <div class="recruitment-process-wrap">
                  <div class="recruitment-process-box">
                    <h3>{{ title }}</h3>
                    <div class="process-box-body"><p>{{ description }}</p></div>
                  </div>
                </div>
              </div>
              
              {{ /recruitment }}
            </div>
          </div>
        </section>
        <!-- End Recruitment Process  section -->