{{ if get:slug }}
  {{ collection:blog  }}
  {{ if slug == get:slug }}


      {{ if segment_1 == 'blog-single-one' }}
        {{ partial:blog-detail :body="content" }}
      {{ elseif segment_1 == 'blog-single-two' }}
        {{ partial:blog-detail-leftbar :body="content" }}
      {{ elseif segment_1 == 'blog-single-three' }}
        {{ partial:blog-detail-full :body="content" }}
      {{ /if }}

    
    {{ /if }}
  {{ /collection:blog }}

{{ else }}

  
    {{ blog_setting }}

      {{ if blog_single_page == 'blog_single_1' }}
        {{ partial:blog-detail :body="content" }}
      {{ elseif blog_single_page == 'blog_single_2' }}
        {{ partial:blog-detail-leftbar :body="content" }}
      {{ elseif blog_single_page == 'blog_single_3' }}
        {{ partial:blog-detail-full :body="content" }}
      {{ /if }}

    {{ /blog_setting }}

{{ /if }}